<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you!</h1>
    <p>
      Your message has been received by our support team. You will be contacted as soon as possible.
    </p>
    <p>
      Click <a href="<%= ticket_url(@ticket) %>">here</a> to view your ticket.
    </p>
  </body>
</html>
