<div class="card text-center w-50 ml-auto mr-auto">
  <div class="card-header">
    Thank you!
  </div>
  <div class="card-body">
    <p class="card-text">Your message has been received by our support team. You will be contacted as soon as possible.</p>
    <%= link_to "Back to Home", root_path, class: "btn btn-primary" %>
  </div>
</div>
